body {
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(180deg, rgb(32, 32, 32), rgb(49, 49, 47));
    width: 100%;
    height: 800px;

}

.nav {
    background-color: rgb(43, 43, 43);
    width: 100%;
    height: 100px;
    margin: auto;
    border-radius: 0px 0px 100px 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.logonav{
    width: auto;
    height: 55px;
    margin-top: 22px;
}


.callusnow {
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-decoration: none;
    display: inline-block;
}
.hithere{
    
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 80px;
    
}


.hitheretext{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    padding-top: 25px;
    margin-bottom: 0%;
    color: rgb(233, 233, 233);
    letter-spacing: 2px;
    font-weight: 500;
}


.hitheretext2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 8px;
    color: rgb(233, 233, 233);
    letter-spacing: 3px;
}

.giftbox{
    display: none;

}


.mobilehithere{
    display: none;

}

.joinus{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 60px;
    color: rgb(233, 233, 233);
    letter-spacing: 3px;
    text-align: center;
}


.mbsocialbutton{
    width: 250px;
    margin: 8px;
  
}

.mobilebuttons{
    width: 360px;
    margin: auto;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0%;
    
   
    
}
 


.logo{
    width: 180px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  
}

.secondnav{
    display: none;
}

.footer{
    display: none;
}



@media only screen and (max-width: 450px) {



    body {
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: 700px;
        background-image: url(img/golden.jpg);
        
    }
    

    .nav {
        background-color: rgb(43, 43, 43);
        max-width:100%;
        height: 75px;
        margin: auto;
        border-radius: 0px 0px 60px 60px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

    .logonav{
        width: auto;
        height: 43px;
        margin-top: 17px;
    }
    

   
    
    .callusnow {
        margin: 0%;
        color: rgb(255, 255, 255);
        font-size: 15px;
        text-align: center;
        padding-top: 19px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .hithere{
        display: none;
    
    }
    

    .mobilehithere{
        display: list-item;
        width: 100%;
        height: 198px;
        margin-top: -20px;
    }

    .mobilehitheretext {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        color: rgb(255, 255, 255);
        letter-spacing: 1px;
        padding-left: 33px;
        font-weight: 950;
        padding-bottom: 0%;
        margin-bottom: 8px;
        padding-top: 75px;
    }

    .mobilehitheretext2{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: rgb(27, 26, 26);
        padding-left: 33px;
        margin-top: 0;
        padding-top: 0;
        letter-spacing: 1px;
    }
    
    .giftbox{
        display: list-item;
        width: 98px;
        height: auto;
        float: right;
        margin-top: 10px;

    }

    .secondnav{
        background-color: rgb(255, 255, 255);
        max-width:100%;
        height: 575px;
        border-radius: 60px 60px 0px 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: list-item;
        margin-top: 0px;
        position: absolute;
        
    }

    .joinus{
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        margin-top: 80px;
        color: rgb(41, 38, 38);
        letter-spacing: 0px;
        text-align: center;
        font-weight: 800;
        margin-bottom: 0%;
    }

    .buttons{
        margin: auto;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 33px;
       
    }


    .socialbutton{
        width: 270px;
        margin-top: 15px;
        height: auto;
    
    }
    
    
    .footer{
        width: 100%;
        height: 60px;
        background-color: rgb(34, 36, 36);
        display: list-item;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: 60px 60px 0px 0px;
        text-align: center;
        color: beige;
        font-family: 'Montserrat', sans-serif;
    }

    .mobilebuttons{
        display: none;
    }

    .buttonicon{
        width: 100%;
        height: 41px;
        margin-top: -15px;
        margin-bottom: 10px;

    }
    
    

}





